@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.no-border {
  @apply !ring-0 !border-none !outline-none;
}

.animate {
  @apply ease-in duration-75 transition-all;
}

.button-success {
  @apply bg-success hover:!bg-success hover:brightness-75;
}

li[role='menuitem'] > button:hover:not(.inactive),
li[role='menuitem'] > button.active {
  @apply bg-green-100;
}

li[role='menuitem'] > button.inactive {
  @apply cursor-not-allowed;
}

.input-search > div > input {
  background-color: transparent;
  border-width: 1px;
  border-color: white;
  @apply focus:border-green-300 focus:ring-green-300;
}

.input-text > div > input {
  @apply focus:border-success focus:ring-success;
}
